@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --transparency: 1;
  }

  :root,
  [data-kb-theme='light'] {
    --background: 96% 0 0;
    --foreground: 15% 0 0;

    --muted: 0% 0 0;
    --muted-foreground: 45% 0 0;

    --popover: 100% 0 0;
    --popover-foreground: 15% 0 0;

    --border: 0% 0 0;
    --input: 0% 0 0;

    --card: 0% 0 0;
    --card-foreground: 15% 0 0;

    --primary: 15% 0 0;
    --primary-foreground: 100% 0 0;

    --secondary: 0% 0 0;
    --secondary-foreground: 15% 0 0;

    --accent: 0% 0 0;
    --accent-foreground: 15% 0 0;

    --destructive: 55% 0.2 25;
    --destructive-foreground: 100% 0 0;

    --info: 65% 0.12 230;
    --info-foreground: 15% 0.05 230;

    --success: 48.66% 0.1253 144.76;
    --success-foreground: 100% 0 0;

    --warning: 75% 0.15 80;
    --warning-foreground: 20% 0.05 80;

    --error: 55% 0.2 25;
    --error-foreground: 100% 0 0;

    --ring: 15% 0 0;

    --opacity-card: 0.03;
    --opacity-secondary: 0.08;
    --opacity-hard: 0.97;

    --opacity-control: 0.0605;
    --opacity-hover: 0.0903;
    --opacity-active: 0.12;

    --opacity-solid-hover: 0.9;
    --opacity-solid-active: 0.8;
    --opacity-solid-text-active: 0.7;

    --release: 92% 0.05 151.91;
    --release-foreground: 25.82% 0.0584 151.91;

    --beta: 92% 0.05 77.54;
    --beta-foreground: 25.78% 0.0511 77.54;

    --alpha: 90% 0.06 26.4;
    --alpha-foreground: 19.98% 0.0704 26.4;

    /* Sizes */
    --radius: 0.5rem;
  }

  .dark,
  [data-kb-theme='dark'] {
    /* Tokens */

    --background: 24% 0 240;
    --foreground: 98% 0 240;

    --muted: 100% 0 0;
    --muted-foreground: 75% 0 240;

    --popover: 22.5% 0 286.03;
    --popover-foreground: 98% 0 286.03;

    --border: 100% 0 0;

    --input: 100% 0 0;

    --card: 100% 0 0;
    --card-foreground: 98% 0 240;

    --primary: 98.5% 0 0;
    --primary-foreground: 20.5% 0 0;

    --secondary: 100% 0 0;
    --secondary-foreground: 98% 0 240;

    --accent: 100% 0 0;
    --accent-foreground: 98% 0.01 240;

    --destructive: 45.8% 0.142 25;
    --destructive-foreground: 98% 0 25;

    /* Semantic */
    --info: 65% 0.12 230;
    --info-foreground: 98% 0.01 230;

    --success: 48.66% 0.1253 144.76;
    --success-foreground: 98% 0.01 160;

    --warning: 0.71 0.186 48.13;
    --warning-foreground: 15% 0.01 75;

    --error: 55% 0.2 25;
    --error-foreground: 98% 0.01 25;

    --ring: 85% 0.01 231;

    --opacity-card: 0.03;
    --opacity-secondary: 0.08;
    --opacity-hard: 0.97;

    --opacity-control: 0.0605;
    --opacity-hover: 0.0903;
    --opacity-active: 0.0302;

    --opacity-solid-hover: 0.9;
    --opacity-solid-active: 0.8;
    --opacity-solid-text-active: 0.7;

    /* Custom colors */

    --release: 25.82% 0.0584 151.91;
    --release-foreground: 77.63% 0.2066 149.52;

    --beta: 25.78% 0.0511 77.54;
    --beta-foreground: 76.97% 0.1645 70.61;

    --alpha: 19.98% 0.0704 26.4;
    --alpha-foreground: 63.56% 0.2082 25.38;

    /* Sizes */

    --radius: 0.5rem;
  }

  [data-theme='aether-light'] {
    --primary: 57.07% 0.039 229.9;
    --primary-foreground: 95.4% 0.0039 236.49;
  }

  [data-theme='aether-dark'] {
    --primary: 53.2% 0.043 231;
    --primary-foreground: 98% 0 231;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply max-h-screen overflow-hidden;
  }

  body {
    @apply text-foreground bg-background;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }

  body {
    background-color: oklch(var(--background) / var(--transparency, 1));
  }

  #root {
    @apply flex flex-col min-h-screen max-h-screen h-screen;
  }

  svg {
    flex-shrink: 0;
  }
}

@layer base {
  [data-disable-animations='true'] * {
    animation: none !important;
    transition: none !important;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .animate-tab-content-wrapper {
    @apply grid overflow-x-hidden;
  }

  .animate-tab-content {
    @apply row-start-1 col-start-1 overflow-hidden p-0.5 w-full h-[calc(100%-4px-4px)]
      transition-[transform,opacity,visibility] duration-200 max-h-0 opacity-0 invisible;
  }

  .animate-tab-content[data-selected] {
    @apply translate-x-0 opacity-100 visible max-h-full;
  }

  .animate-tab-content[data-selected] ~ .animate-tab-content {
    @apply translate-x-full;
  }

  .animate-tab-content:not([data-selected]) {
    @apply -translate-x-full;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: content-box;
  @apply bg-accent/control;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* List items reordering */

.animate-list-item {
  transition: all 0.2s ease-out;
  transition-property: opacity, transform;
}

.animate-list-item-enter,
.animate-list-item-exit-to {
  opacity: 0;
  transform: translateY(10px);
}
.animate-list-item-exit-active {
  position: absolute;
}
